<h1>About</h1>
<br />

Mam na imię Sabinka, na co dzień zajmuję się tworzeniem stron internetowych.<br />
Biżuterię projektuję hobbystycznie od 3 lat.<br />
Specjalizuję się w bransoletkach typu shamballa oraz wszelakich wariacjach rzemieniowych.<br />
Binkabox to butik, w którym na pewno znajdziesz coś dla siebie i dla bliskich!<br />